{% extends 'base.html' %}
{% block content %}

<h2>Your Watchlists</h2>


<div class="col-md-12">
    <div class="row">
        {% for watchlist in watchlists %}
        <div class="col-lg-4 col-md-6 col-12">
        <div class="card watchlist-card">
                <h5>
                    <a href='/watchlists/{{watchlist.id}}'>{{ watchlist.name }}</a>
                </h5>

        </div>
        </div>
        {% endfor %}
    </div>
</div>




<ul><a href="/" action="/" class="btn btn-outline-primary">Home</a></ul>


{% endblock %}