{% extends 'base.html' %}
{% block content %}

<h2>{{ watchlist.name }}</h2>

<div>
    <ul>
        {% for stock in stocks %}
        <li>
            {{stock.ticker}} - {{stock.company_name}} 
            
            <form method="POST" action="/watchlists/{{watchlist.id}}/stock/{{ stock.id }}"> <button class="btn btn-outline-danger">Delete stock</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>


<ul><a href="/watchlists/{{watchlist.id}}/stock/add" action="/watchlists/{{watchlist.id}}/stock/add" class="btn btn-primary">Add a new stock</a></ul>


{% endblock %}